# Build folders
build/
build-debug/
trybuild/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Binaries
*.exe
*.lib
*.dll
*.pdb
*.obj

# Visual Studio
.vs/
*.vcxproj*
*.sln

# OS junk
.DS_Store
Thumbs.db